body {
	background-color: #e3f2fd;
	color:            #505050;
	padding:          70px;
}

.header .form {
	text-align: center;
}


.password {
	position: relative;
}


.button {
	position:   relative;
	color:      purple;
	font-size:  20;
}
