body{
	padding-top:70px;
	background-color:#505050; 
	font-family:sans-serif;
}

.selectPair{
	text-align:center; 
	color:green;
}

.pairButton{
	color:white; 
	font-family:sans-serif; 
	background-color:purple; 
	height:100px; 
	width:150px; 
	font-size:50;
}

.goBackButton{
	color:white;
	font-family:sans-serif;
	background-color:black;
	font-size:20;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
}

.row-centered{
	text-align:center;
}

.friend-item{
	text-align:center;
	color:purple;
	font-size:18;
	margin:auto;
}

.warrior-item{
	text-align:center;
	margin:auto;
	color:blue;
	font-size:18;
}

.friend-title{
	text-align:center; 
	font-size:20; 
	color:purple;
	font-weight:bold;
}

.warrior-title{
	text-align:center; 
	font-size:20; 
	color:blue;
	font-weight:bold;
}