body{
	padding-top:      70px;
	padding-left:     20px;
	padding-right:    20px;
	background-color: #b3e5fc; 
	font-family:      sans-serif;
}

h1 {
	text-align:center;
}

.selectPair{
	text-align:center; 
	color:green;
}

.pairButton{
	color:white; 
	font-family:sans-serif; 
	background-color:#6a1b9a; 
	height:100px; 
	width:150px; 
	font-size:50;
}

.goBackButton{
	color:white;
	font-family:sans-serif;
	background-color:black;
	font-size:20;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
}

.row-centered{
	text-align:center;
}

.friend-item{
	text-align:center;
	color:#8e24aa;
	font-size:18;
	margin:auto;
}
/*warrior is blue, 
 *friend purple
 *
 *use material design color pallette
 */
.warrior-item{
	text-align:center;
	margin:auto;
	color:#1e88e5;
	font-size:18;
}

.friend-title{
	text-align:center; 
	font-size:20; 
	color:#6a1b9a;
	font-weight:bold;
}

.warrior-title{
	text-align:center; 
	font-size:20; 
	color:#1565c0;
	font-weight:bold;
}
