.selectPair{
	text-align:center; 
	color:green;
}

.pairButton{
	color:white; 
	font-family:sans-serif; 
	background-color:purple; 
	height:100px; 
	width:150px; 
	font-size:50;
}

.goBackButton{
	color:white;
	font-family:sans-serif;
	background-color:black;
	font-size:20;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
}

.row-centered{
	text-align:center;
}