$def with (all_lists)

<! all_lists should be of the form
[chosen_pair, friendq, warriorq]
where chosen_pair = [chosen_friend, chosen_warrior]
>

<html>

<! stole from berwin on open ears website took out name="viewport"
because unsure what that does>
<meta content="width=device-width, initial-scale=1, user-scalable=no">

<head>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pairing Complete</title>

 
    <link href="/static/css/pairing_gui.css" type="text/css" rel="stylesheet">

</head>

</head>

<body style="background-color:lightgrey; font-family:sans-serif" >

	<h1 style="text-align:center">
	Pairing Complete
	</h1>

	<!these are line breaks and hr is a horizontal line>
	<br><hr>


	<p style="text-align:center">
	<! chosen_pair = [warrior, friend]>
	<b style="color:purple">$all_lists[0][0]</b> is going to be a friend for <b style="color:blue">$all_lists[0][1]</b>
	</p>


	<hr>
	<! first list the available friends and then people seeking help
	eventually itd be nice to make these columns in this and the other
	html file>

	<div class="row row-centered">
	<form action="/pairing_gui">
		<button class="row-centered goBackButton" type="submit">Go Back to Pairing</button>
	</form>
	</div>

	<hr><br>
	<!-- Remaining Queues -->
	<div class="row">
		<div class="col-md-6">
			<p style="text-align:center; font-size:20; color:purple">
			<b>List of Available Friends</b></p>
				$for element in all_lists[1]:
					<p style="color:purple; text-align:center">$element</p>
		</div>

		<div class="col-md-6">
		<p style = "text-align:center; font-size:20; color:blue"><b>List of People Seeking Help</b></p>
			$for element in all_lists[2]:
				<p style="text-align:center; color:blue">$element</p>
		</div>
	</div>

</body>
</html>


