$def with (list_of_names)

<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
    <title>Open Ears - Pairing</title>
	
	<link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="/static/css/pairing_gui.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/static/js/pairing_gui.js"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">Open Ears</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="add">Add</a>
                </li>
                <li>
                    <a href="remove">Remove</a>
                </li>
                <li>
                    <a href="interface">Pairing</a>
                </li>
				<li>
                    <a href="end_pair">End Pair</a>
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/1nVthwBxIauDWurilurZOxVwIMBAjHhMeiM7qQG2fPRw/viewform">
					Suggestions</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav>


<!-- Start of page contents-->
<div class="row-centered">
	<h1>Open Ears Pairing GUI</h1>
	<p>Welcome to the Pairing GUI. (Short for graphical user interface.)
	The purpose of this interface is to simplify the process of pairing 
	people. We also have other pages (see navbar above) to help streamline 
	other administrative tasks. If anything anywhere doesn't work please 
	navigate to the suggestions link above and fill out a form. A highly 
	trained and highly capable team will begin work on your input
	at two times the speed of beauracracy! (That is about 1/c in SI units.)
	</p>
	<p>
	If entries are blank please don't press submit as things are likely to break
	from that. Also clicking names is suppossed to give you a pop up with their info
	but is very slow and not working at the moment, so I disabled it (You can still have
	fun clicking things though!). Stay tuned for updates with the possibility of it
	working.
	</p>
</div>


<hr><br>


<div class="row">

	<!-- Display list of friends-->
	<div class="col-md-6">
		<p class="friend-title">List of Available Friends</p>
		<div class="list-group">
			$for i in range(len(list_of_names[0])):
				<!-- FIX THESE CLICKING FUNCTIONS-->
				<!-- onclick="displayFriendInfo(this.value)" -->
				<button type="button" class="list-group-item" value="list_of_names[0][i]">
				<p class="friend-item">$list_of_names[0][i] : $list_of_names[2][i]</p>
				</button>
		</div>
	</div>
	
	<!-- Display list of Warriors -->
	<div class="col-md-6">
		<p class="warrior-title">List of Warriors</p>
		<div class="list-group">
			$for element in list_of_names[1]:
			<!-- onclick="displayWarriorInfo(this.value)" -->
			<button type="button" class="list-group-item" value="$element" >
				<p class="warrior-item">$element</p>
			<!</button>
		</div>
	</div>

</div>

<div class="row">
<hr><br>
</div>
	
<!-- Form Handles Submitting Data to Web.py and Modal code-->
<!-- Submits info: Warrior, Friend, Pairer, -->
<form method="POST">
	<div class="row-centered">
		
		<!-- Select from Friend Queue -->
		<!-- if something breaks, class was "col-md-1 col-centered"
		but it wouldn't center that way so removed it.-->
		<div class="col-centered">
			<h3>Friend (netID):</h3>
			<select name="friend" id="friendQueue">
				<!-- <option disabled selected>--Friend--</option> -->
				$for netid in list_of_names[2]:	
					<option value="$netid">$netid</option>
			</select>
		</div>
		
		<!-- Select from Warrior Queue -->
		<div class="col-centered">
			<h3>Warrior:</h3>
			<select name="warrior" id="warriorQueue">
				<!-- <option disabled selected>--Warrior--</option> -->
				$for name in list_of_names[1]:	
					<option value="$name">$name</option>
			</select>
		</div>
		<br>

		<!-- Pairied By -->
		<div class="col-centered">
			<h3>Paired By:</h3>
			<select name="pb" id="pb">
				<option disabled selected>NA</option>
				<!-- List of People in Pairing Committee -->
				$for name in ['Karthik', 'Reika', 'Charles']:	
					<option value="$name">$name</option>
			</select>
		</div>
		
		<!-- Any NOTES they have regarding why they made the pairing -->
		<div class="col-centered">
			<h3>Notes:</h3>
			<input type="text" name="notes" id="notes">
		</div>
		<br>

		<!-- Password -> Dont need a password here because its in the "login"
		<div class="col-centered">
			<h3>Password:</h3>
			<input type="password" name="password" id="password">
		</div> -->
	</div>
	
	<br>
	<!-- Submit Pairing -->
	<div class="row-centered">
		<!-- pairClick is to pair, not for pop up... lol -->
		<button type="button" class="pairButton" id="pairButton" onclick="pairClick()">
		Pair</button>
	</div>

	<!-- I think this is the ARE YOU SURE pop up. but im not sure. lol -->
	<div id="testModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Current Pairing</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class = "modal-body">
					<h3>If Javascript fails</h3>
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<!-- <form method="POST"> -->
						<button type="submit" class="btn btn-default">Yes</button>
						<!-- </form> -->
						<button type="button" class="btn btn-default" data-dismiss="modal">
						No</button>						
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Pop up with information of person-->
<div id="userModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">Person Name</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class = "modal-body">
				<p> This is where information about them will go </p>
			</div>
			<div class="modal-footer">
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-dismiss="modal">
					Done</button>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
