$def with (option)

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
    <title>Open Ears - Remove</title>
	
	<link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="/static/css/remove_page.css" type="text/css" rel="stylesheet">	
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/static/js/pairing_gui.js"></script>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">Open Ears</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="add">Add</a>
                </li>
                <li>
                    <a href="remove">Remove</a>
                </li>
                <li>
                    <a href="interface">Pairing</a>
                </li>
				<li>
                    <a href="end_pair">End Pair</a>
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/1nVthwBxIauDWurilurZOxVwIMBAjHhMeiM7qQG2fPRw/viewform">
					Suggestions</a>
                </li>
            </ul>
        </div>           
	<!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav>
<!-- After submission WITH ERROR-->
$if option == 3:
	<div class="after">
		<p>We could not find your netID on the list.
		It is possible you submitted an incorrect netID,
		we have an incorrect netID stored in our spreadsheet,
		or the system's gone wacky.
		Please contact us if the wackiness continues.</p>
	</div>

<!-- Webpage after a submission, NO ERROR-->
$if option == 2:
	<div class="after">
		<p>You have been removed from the list! 
		If you encounter any problems, such as finding out that your 
		name was not actually removed, please let us know.</p>
	</div>

<!-- Webpage Before a submission -->
$if option == 1:
	<!-- Helpful info-->
	<div class = "remove_instructions">
		<h1>Remove Yourself from the Friend Queue</h1>
		<div class="one">
			<p>
			The remove button removes all instances of your 
			name from the queue.
			</p>
		</div>
		<div class="one">
			<p>
			Use it when you find yourself 
			unavailable to help anymore people.
			</p>
		</div>
		<div class="one">
			<p>
			If you are currently paired with somebody, 
			removing yourself from the queue does not
			affect your current pairing.
			</p>
		</div>
		<div class="two">
			<p>
			If that is what you are trying to do, mark your 
			current pairing as inactive, please use the navbar 
			above and navigate to End Pair.
			</p>
		</div>
		<div class="two">
			<p>
			Actually, don't do that, as that section is currently under construction. :/
			</p>
		</div>
		<div class="two">
			<p>
			We like to think of it as a massive jobs creation program though :)
			</p>
		</div>
		<div class="three">
			<p>
			Remember, you can always re-add yourself to the queue from the add page
			when you find yourself available again.
			</p>
		</div>
		<div class="three">
			<p>
			This will let us know that you are available to help more people again.
			</p>
		</div>
		<div class="three">
			<p>
			If you notice anything wrong on this or any 
			other page navigate suggestions 
			link above and let us know!
			</p>
		</div>
	</div>
	
	<!-- Input form of netid to remove-->
	<form id="remove_form" method="POST" autocomplete="off">
		My NetID is <input type="text" name="netid">.
		<br>
		<input id="remove_button" type="submit" value="REMOVE FROM QUEUE">
	</form>

</body>

</html>
