$def with (friendq)

<html>

<meta content="width=device-width, initial-scale=1, user-scalable=no">

<head>
	<title>
	REMOVE FROM QUEUE
	</title>
</head>

<body style="text-align:center; background-color:lightgrey; font-family:sans-serif">
$if friendq != 3:
	<p>Please make sure your name has been properly removed and it is no longer on this list:</p>
	<h3 style="text-align:center; font-size:20; color:blue">
	New List of Available Friends</h3>
	$for name in friendq:
		<p style="text-align:center; font-size:20; color:blue">$name</p>

$if friendq == 3:
	<h1>Remove Yourself from the Friend Queue</h1>
	<p>The purpose of this page is for friends currently on the friend queue
	to be able to remove themslves from the queue.</p>
	<p>You can add yourself as many times as you want, though be 
	aware that the number of times you add yourself to the list 
	is the number of people you are willing to help.</p>
	<p>Pressing the remove button will remove all instances 
	of your name from the queue. This lets 
	us know that you are too busy to be able to help at the moment 
	and at any point you are able to re-add yourself to the queue
	by going back to the add page.</p>
	<p>If you notice anything wrong on this or any 
	other pages of the interface please let us know in #webdev 
	or bring it up at the next meeting.</p>
	<p>HAPPY BUTTONING</p>
	
	<br><hr><br>
	<!Add to queue form, once we get a bluewaters login going we can just 
	make this a nice, big red button, which is obviously the end goal

	the remove will be a big blue button, this is all non-negotiable.>
	<! This has basically been accomplished>
	<form style="text-align:center" method="POST">
	NAME:<input style="background-color:darkgrey" type="text" name="name">
	<br>
	<input style="background-color:blue; color:white; height:100px; width:500px; font-size:40; font-family:sans-serif" type="submit" value="REMOVE FROM QUEUE">
	</form>


</body>

</html>
